/* NAVBAR TOP BAR */
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(15, 15, 15, 0.6);
  backdrop-filter: blur(10px);
  justify-content: flex-end;   /* RIGHT SIDE IMPORTANT */
}

/* RIGHT SIDE ICONS */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* NOTIFICATION ICON */
.notif-box {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 14px;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease;
}

.notif-box:hover {
  background: rgba(255,255,255,0.25);
  transform: translateY(-2px);
}

.notif-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}

/* RED DOT */
.notif-dot {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 9px;
  height: 9px;
  background: #ff3b3b;
  border-radius: 50%;
  border: 2px solid #1b1b1b;
}

/* PROFILE BOX */
.profile-box {
  width: 44px;
  height: 44px;
  border-radius: 14px;
  overflow: hidden;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(6px);
  cursor: pointer;
  transition: 0.3s ease;
  position: relative !important;
overflow: visible !important;
z-index: 10000;
}

.profile-box:hover {
  background: rgba(255,255,255,0.25);
  transform: translateY(-2px);
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-placeholder {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.profile-box {
  width: 44px;
  height: 44px;
  border-radius: 14px;
  overflow: hidden;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(6px);
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-box:hover {
  background: rgba(255,255,255,0.25);
  transform: translateY(-2px);
}

.profile-icon {
  width: 22px;
  height: 22px;
  color: #fff;
}
/* PROFILE MENU DROPDOWN */
.profile-menu {
  position: absolute;
  top: 60px;
  right: 0;
  width: 180px;
  background: rgba(15, 0, 30, 0.95);
  padding: 12px 0;
  border-radius: 12px;
  backdrop-filter: blur(14px);
  box-shadow: 0 0 25px rgba(255, 0, 255, 0.25);
  animation: fadeIn 0.2s ease;
  z-index: 9999;
}

.profile-menu a {
  display: block;
  padding: 10px 16px;
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
  transition: 0.2s;
}

.profile-menu a:hover {
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
}

/* Fade animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-8px); }
  to { opacity: 1; transform: translateY(0); }
}
